:root{
  --main-white: whitesmoke;
  --main-orange: darkorange;
  --main-brown: sienna;
  --main-gray: slategrey;
  --main-blue: #001122;
}

@media (max-width: 61.28em){
  html {
    font-size: 58%
    };
}

@media (max-width: 75em){
  html {
    font-size: 60%
    };
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  color: var(--main-white);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;  
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-orange);
  z-index: 3;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a{
  display: block;
  font-size: 2.4rem;
  padding: 2rem;
}

li {
  list-style: none;
  
}

a {
  text-decoration: none;
  color: var(--main-white);
}

.welcome-section {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  height: 100vh;
  background: #000111;
  background-image: linear-gradient(50deg, #010101 0%, #101010 100%)
}

h1, h2 {
  text-align: center;
}
.projects-section {
  text-align: center;
  padding: 10em 2em;
  background: var(--main-blue);
}

#projects-header {
  max-width: 720px;
  margin: 0 auto 3rem auto;
  border-bottom: 1px solid;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0;
  margin-bottom: 6rem;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.project-image {
  width: 100%;
  height: calc(100 - 7.0);
  object-fit: cover;
}

img {
  display: block;
}

#web {
  color: limegreen;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

#ml {
  color: crimson;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-session {
  display: flex;
  flex-direction: flex-end;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  padding: 0.5rem;
  background: var(--main-gray);
}

.contact-header > h2 {
  font-size: 3.5rem;
}

.contact-header > p {
  font-style: italic;
  color: limegreen;
  font-size: 2.5rem;
}

.footer-session {
  padding: 20px;
  background-color: var(--main-brown);
}
